version: "3.9"

services:

  db:
    image: mysql:8.0
    container_name: escalation_mysql
    restart: always
    env_file:
      - .env
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build: .
    container_name: escalation_api
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "7000:8000"

  frontend:
    build:
      context: ./frontend
    container_name: escalation_frontend
    restart: always
    ports:
      - "4000:80"
    depends_on:
      - api

volumes:
  mysql_data:
